# Server port number
PORT=3000

# Mongo URIs (with credentials)
MONGO_CLOUD_URI: mongodb+srv://user:pass@cluster.something.mongodb.net/?retryWrites=true&w=majority
MONGO_LOCAL_URI: mongodb://localhost:27017