services:
  db:
    image: postgres
    hostname: localhost # (use "db" for adminer "Server" field)
    container_name: test_hydrate_postgres
    # restart: always
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_DB: test_hydrate_db # adminer "Database" field
      POSTGRES_USER: test_hydrate_admin # adminer "Username" field
      POSTGRES_PASSWORD: test_secret_password # adminer "Password" field
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    hostname: adminer
    container_name: test_hydrate_adminer
    # restart: always
    ports:
      - "8282:8080"
    depends_on:
      - db
